* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(233, 235, 235);
  text-align: center;
  margin-top: 5rem;
}

body,
h1,
h2,
button,
input {
  font-family: 'Comfortaa', cursive;
}

.form {
  margin-top: 2rem;
}

input,
button {
  width: 200px;
  height: 40px;
  border: 1px solid #056854ed;
  border-radius: 5px;
  margin: 2px;
  padding: 10px;
  outline: none;
}

.form button {
  background: #056854;
  color: aliceblue;

  font-weight: bolder;
}

/* ----------------- */

.posts {
  margin-top: 2rem;
}
.post {
  width: 60%;
  background: #fff;
  border: 1px solid #666;
  padding: 10px;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 8px;
}

.post button {
  width: 150px;
  display: inline-block;
  margin: 2rem 0 1rem 1rem;
  font-weight: bold;
  border: none;
}

.update {
  background-color: rgb(230, 230, 230);
  color: rgb(0, 119, 255);
}

.delete {
  color: white;
  background: rgb(205, 91, 91);
}


.update-post {
  background-color: #044135;
  color: #fff;
}